<launch>        
  <!-- 
       Start an apriltag node using the default settings
       to connect to an OpenNI device (e.g. Kinect). 
  -->
  <arg name="camera_name" />
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltags_$(arg camera_name)" output="screen">
    <param name="~default_tag_size" value="0.037" />

    <param name="~viewer" value="false" />
    <param name="~publish_detections_image" value="true" />

    <param name="~display_type" value="CUBE" />
    <param name="~marker_thickness" value="0.02" />

    <rosparam command="delete" param="tag_data" />
    <rosparam param="/apriltags_$(arg camera_name)/tag_descriptions">[
        {id: 0, size: 0.081},
        {id: 1, size: 0.081},
        {id: 2, size: 0.081},
        {id: 3, size: 0.081},
        {id: 4, size: 0.081},
        {id: 5, size: 0.081},
        {id: 6, size: 0.081},
        {id: 7, size: 0.081},
        {id: 8, size: 0.081},
        {id: 9, size: 0.081},
        {id: 128, size: 0.081},
    ]
    </rosparam>
    
    <remap from="image_rect" to="/$(arg camera_name)/image_raw"/>
    <remap from="camera_info" to="/$(arg camera_name)/camera_info"/>
  </node>
</launch>
